@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap');

body {
  text-align: center;
}

.container{
  background-color: gray;
  width: 230px;
  margin: auto;
  border-radius: 50px;
  border-bottom: 10px solid lightgray;
  padding: 7px;
}

.showCount{
  font-family: "Jersey 10 Charted";
  font-weight: 400;
  font-size: 50px;
  display: inline-block;
  color: white;
  margin: 20px;
}

.showMinusCount{
  color:red;
}

 button{
  padding: 5px 12px;
  border-radius: 20px;
  margin: 2px;
  border: none;
  /* box-shadow: 0px 5px #bbb;  */
  font-size: 25px;
  color: white;
  font-weight: 1000;
  
}

.plusButton {
  /* background-color: lightblue; */
  background-color: lightgray;
  color: blue;
  border:2px solid blue;
  border-bottom: 7px solid blue;
}

.minusButton{
  /* background-color: lightpink; */
  background: lightgray;
  color: red;
  border:2px solid red;
  border-bottom: 7px solid red;
}

.buttons{
  padding: 10px;
}